<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<body>
    <h1>Commnent ID: <%= comment.id %> </h1>
    <h2> <%= comment.comment %> - <%= comment.username %> </h2>
    <button>
        <a href="/comment">BACK TO INDEX</a>        
    </button>
    <button>
        <a href="/comment/<%= comment.id %>/edit">Edit comment</a>
    </button>
    <form method="POST" action="/comment/<%= comment.id %>?_method=DELETE">
        <button>Delete this comment</button>
    </form>
</body>
</html>